* {
  padding: 0px;
  margin: 0px;
}

.nav-item {
  margin-right: 4rem;
}
.nav-item:hover {
  border-bottom: 2px black solid;
}
.fa-brands {
  margin-top: 1rem;
  margin-right: 2rem;
}
.fa-brands:hover {
  cursor: pointer;
  background-color: white;
}
.navbar {
  border-bottom: 1px black solid;
  padding-bottom: 0px;
}
/*                                 */

.market,
.intro,
.desc {
  width: 25rem;
  margin: 4rem;
  margin-left: 15rem;
}
.container1 {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gtbutton {
  max-width: 15rem;
  height: 3rem;
  font-weight: bold;
}

.side-image2 {
  width: 25rem;
  margin: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.intro {
  margin-right: 15rem;
  margin-left: 0rem;
}
.container2 {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container3 {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.discount {
  background-color: black;
  color: white;
  max-width: 28rem;
  padding: 3rem;
  border-radius: 0rem 1rem 1rem 0rem;
  box-shadow: 0.2rem 1rem 0.9rem;
}

.portfolio {
    background-color: rgb(222, 222, 222);
  padding: 3rem;
  max-width: 28rem;
  border-radius: 0rem 1rem 1rem 0rem;
  box-shadow: 0.2rem 1rem 0.9rem;
}
.desc h1 {
    font-size: 3.45rem;
}

.container4 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imgClients {
    /* position: relative; */
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.imgClients img {
    width: 100%;
    height: auto;
}

.clients h3 {
    font-weight: bold;
}
.clients {
    margin: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clients p,
h3 {
    text-align: center;
}


.container5{
    margin-bottom: 15rem;
    background-color: black;
    color: white;
}

.container5 {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#Uname,#pass{
    height: 3rem;
    border-radius: 0.5rem;
    max-width: 15rem;
    margin-bottom: 1rem;
}
.login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* width: 25rem; */
    margin: 4rem;
    margin-left: 15em;
}

.container5 h1{
    font-size: 3.5rem;
    text-align:start;
}
.container5 h3{
    /* font-size: 3.5rem; */
    text-align:start;
}


.review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 4rem;
}
.r {
    margin: 2rem;
    background-color: black;
  color: white;
  max-width: 28rem;
  padding: 3rem;
  border-radius: 0rem 1rem 1rem 0rem;
  box-shadow: 0.2rem 1rem 0.9rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container7{
    margin-top: 5rem;
}


.container8 {
    /* height: 50rem; */
    /* max-height: 50rem; */
    /* border: 2px rgb(245, 0, 0) solid; */
    background-color: black;
    color: white;
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.side-image3{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.container8 input,textarea{
    padding: 1rem;
    border-radius: 0.5rem;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.seeMore,.newsletter,.stonzo,.menu{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container9 {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

#subs{
    max-width: 12rem;
    height: 2.95rem;
}
.imagesbelow{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .container1,
  .container2,
  .container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
  }
  .market,
  .intro,
  .desc {
    width: 16rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .side-image2,.side-image3,.side-image4 {
    width: 16rem;
   
  }
  .side-image img,
  .side-image2 img,
  .side-image3 img,
  .side-images4 img,
  .discount,
  .portfolio,.r {
    width: 20rem;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .container4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #ourTeam{
    font-size: 4rem;
  }


.heading h1 {
    font-size: 2rem;
}

.review,.blogs,.container9,.container8 ,.container5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blogs,.container8,.container5{
        grid-template-rows: repeat(2, 1fr);

    }
    .container8{
        text-align: center;
        max-height: 55rem;
    }
    .container8 .contact textarea,input{
        width: 20rem;
        height: 2rem;
    }
    .container8 .contact textarea{
        /* width: 20rem; */
        height:4.3rem ;
    }
    .seeMore{
        margin-top: 5rem;
    }
    .newsletter,.stonzo,.menu{
        text-align: center;
        margin-top: 2rem;
    }
    .imagesbelow,.contact input,textarea{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

   #icons{
    visibility: hidden;
   }

   .sendMessage{
    margin-bottom: 2rem;
   }

   .container5 input{
    max-width: 10rem;
   }

   .login {

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.info > h1,.info > h3{
    text-align: center;
}
#logins,#create{
       display: block;
       margin-left: auto;
       margin-right: auto;
    
   }
#Uname,#pass{
       max-width: 15rem;
       display: block;
       margin-left: auto;
       margin-right: auto;
    
   }
}
